<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>
    <div class="transfer-form" id="transfer-form">
        <h2>Transfer Amount</h2>
    
        <form id="transfer-amount-form" action="/deposite" method="post">
            <div class="form-group">
                <label for="account-number">Account Number:</label>
                <input type="text" id="account-number" name="accountnumber" required>
            </div>
            <div class="form-group">
                <label for="confirm-account-number">Confirm Account Number:</label>
                <input type="text" id="confirm-account-number" name="confirmAccountNumber" required>
            </div>
            <div class="form-group">
                <label for="transfer-amount">Amount:</label>
                <input type="number" id="transfer-amount" name="amount" required>
            </div>
            
            <button type="submit">Deposit</button>
        </form>
    </div>
</body>
</html>
