<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Banking Application</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Banking App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./login">login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./signup">Open Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pay</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Statement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./admin">deposite</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="account-info">
                <h2>Account Information</h2>
                <!-- Display account information here -->
            </div>
            <img src="https://cdn-icons-png.flaticon.com/512/11338/11338082.png"/>

            <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/loan-money-1963122-1653492.png"/>



            
            <div class="transaction-form">
                <h2>Make a Transaction</h2>
                <!-- Transaction form goes here -->
            </div>

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsEL3Jugvh_P60nhsGnVJe_xEb4h6zkLp4eahccdThqA&s"/>

            <img src="https://cdn1.iconfinder.com/data/icons/banking-app-4/64/Banking_App_Online_Banking_Internet_Banking_Money_Dollar_Add_money_add_account_add_card_copy_5-512.png"/>

            
            <img src="https://5.imimg.com/data5/ANDROID/Default/2022/5/WV/KI/ZK/56396853/product-jpeg-500x500.jpg"/>

            <img src=""/>   

        </div>
    </main>
    
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
